<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final</title>

    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1134.ani), url(http://cur.cursors-4u.net/anime/ani-12/ani1134.png), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2011/12/01/hello-kitty-touching-lip.html" target="_blank" title="Hello Kitty Touching Lip"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Hello Kitty Touching Lip" style="position:absolute; top: 0px; right: 0px;" /></a>
</head>
<body>
    <main role="main" class="container" id="app">
        <br>
        <div class="jumbotron">
            <h1>
                The Game Hub
            </h1>
            <p>Please select a game to play!</p>
            <b-row>
                <b-col col="4">
                    <b-button variant="online-warning" block href="/app/2048">2048</b-button>
                </b-col>
                <b-col col="4">
                    <b-button variant="online-info" block href="/app/minesweeper">Minesweeper</b-button>
                </b-col>
                <b-col col="4">
                    <b-button variant="online-success" block href="/app/snake">Snake</b-button>
                </b-col>
            </b-row>
        </div>

    </main>
    <script>
        window.app = new Vue({
            el: '#app',
        });
    </script>
</body>
</html>