<% layout('../layout/layout') %>

<h1 class="display-4">CS4241 - Final Project</h1>
<p class="lead">Group 25</p>
<br>
<a href="/auth/github" type="button" class="btn btn-secondary btn-block btn-lg">
    Login with GitHub
</a>