<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Final</title>

    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>

<body>
    <main role="main" class="container" id="app">
        <div class="snake">
            <h1>{{ msg }}</h1>
            <canvas id="canvas" width="800" height="600">
            </canvas>
        </div>
        <b-row cols="3" align-v="stretch">
            <b-col>
                <b-table class="top-scores" :items="topScores"></b-table>
            </b-col>
            <b-col>
                <b-table class="your-best" :items="topUserScore"></b-table>
            </b-col>
            <b-col>
                <b-table class="games-played" :items="playCount"></b-table>
            </b-col>
        </b-row>
    </main>
    <script>
        window.app = new Vue({
            el: '#app',
            data() {
                return {
                    msg: 'Snake game',
                    topScores: [],
                    topUserScore: [],
                    playCount: [],
                }
            },
            methods: {
                getFetches: function () {
                    fetch("/api/snake/all_scores", {
                        method: "GET",
                    })
                        .then((res) => res.json())
                        .then((scores) => {
                            this.topScores = scores;
                        });

                    fetch("/api/snake/score", {
                        method: "GET",
                    })
                        .then((res) => res.text())
                        .then((j) => (this.topUserScore = Array.of({your_best: parseInt(j)})));

                    fetch("/api/snake/play_count", {
                        method: "GET",
                    })
                        .then((res) => res.text())
                        .then((count) => {
                            this.playCount = Array.of({play_count: parseInt(count)});
                        });
                },
            },
            created() {
                const plugin = document.createElement('script')
                plugin.setAttribute(
                    'src',
                    '/project.js'
                )
                plugin.async = true
                document.head.appendChild(plugin)
                this.getFetches();

                setInterval(this.getFetches, 1000);
            }
        });
    </script>
</body>

</html>